# Logs
logs
*.log
npm-debug.log*

build/Release

# Dependency directories
node_modules/
# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

out
dist

.webpack/

.DS_*
**/*.backup.*
**/*.back.*

node_modules

# CMake
cmake-build-*/
*.iws
out/
.idea